@page "/workouts"
@using HAOS.Models.Training

<PageTitle>Workouts</PageTitle>

<h1>Exercises</h1>

<form @formname="workoutForm" @onsubmit="OnAddWorkout" method="post">
    <h6>Label</h6>
    <h6>Reps</h6>
    <h6>Sets</h6>
    <h6>Weight</h6>
    <p><input @bind-value="_newWorkout!.Label" required type="text"/></p>
    <p><input @bind-value="_newWorkout!.RecommendedReps" min="1" max="99" required type="number"/></p>
    <p><input @bind-value="_newWorkout!.RecommendedSets" min="1" max="99" required type="number"/></p>
    <p><input @bind-value="_newWorkout!.RecommendedWeight" min="1" max="999" required type="number"/></p>
    <p><button type="submit">Add Exercise</button></p>
</form>

@if (workouts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Label</th>
                <th aria-label="Recommended Reps">Rec # of Reps</th>
                <th aria-label="Recommended Sets">Rec # of Sets</th>
                <th aria-label="Recommended Weight">Rec Weight</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in workouts ?? [])
            {
                <tr>
                    <td>@exercise.Id</td>
                    <td>@exercise.Label</td>
                    <td>@exercise.RecommendedReps</td>
                    <td>@exercise.RecommendedSets</td>
                    <td>@exercise.RecommendedWeight</td>
                    
                    <td>
                        <a class="btn" href="#"><Icon Name="IconName.PencilSquare"/></a>
                        <button class="btn" @onclick="async () => await OnDeleteWorkout(exercise.Id)"><Icon Name="IconName.XCircle"/></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Workout>?  workouts {get; set;}

    [Inject]
    public required IHttpClientFactory httpClientFactory {get; set;}

    [SupplyParameterFromForm]
    private Workout? _newWorkout {get; set;} = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkouts();
    }

    private async Task LoadWorkouts() {
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.GetAsync("/workouts/all");
        workouts = await response.Content.ReadFromJsonAsync<List<Workout>>();
    }

    private async Task OnAddWorkout() {
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.PostAsJsonAsync("/workouts/add", _newWorkout);

        if (response.IsSuccessStatusCode) {
            await LoadWorkouts();
        }
    }

    private async Task OnDeleteWorkout(int id) {
        var httpClient = httpClientFactory.CreateClient("api");
        var response = await httpClient.DeleteAsync($"/workouts/delete/{id}");
        if (response.IsSuccessStatusCode)
            await LoadWorkouts();
    }
}